@using VTSV.Models
@model Image
<div class="featured lightbox" style="opacity: 1;">
    <table style="width: 100%;">
        <tr>
            <td>
                <img src="#" id="featured" alt="Featured Image" />
            </td>
            <td>
                <br />
                <div style="float: right;">
                    <a href="#" onclick="javascript:refreshGallery('');">Continue to Gallery &gt;</a>
                </div>
                @if (Model.DateFeatured != null)
                {
                    <b>Featured Image: @Model.DateFeatured.Value.ToShortDateString()</b>
                }
                <br />
                <br />
                @Html.Action("Info", new { id = @Model.ID })
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var factor = 200;
        var maxX = $(window).width() - factor;
        var maxY = $('.fader.down').offset().top - factor;
        $('#featured').prop('src', '/Images/Get/@Model.ID?x=' + maxX + '&y=' + maxY);
    });
</script>
