@using VTSV.Models
@model Image
<label>Date Taken:</label>
<span>@Model.DateTaken.ToShortDateString()</span>
<br />
<label>Tags:</label>
<span>
    @foreach (var t in Model.Tags.OrderBy(t => t.Type.ID).ThenBy(t => t.Name))
    {
        <a href="#" class="tag" onclick="setTag('@t.ID');">@t.Name</a>
    }
</span>