@using VTSV.Models
@model Image

<div class="thumbnail-container">
    <div id="@("image" + Model.ID)" class="thumbnail-image"
         style="background-image: url('/Images/Get/@(Model.ID)?x=192&y=192');"
         data-toggle="modal" data-target=".lightbox"
         onclick="javascript:showImage(@Model.ID);">
    </div>
</div>