/* general */

body {
    background: #222 linear-gradient(#111, #222) fixed;
    color: #eee;
    padding-top: 50px;
}

h1, h2, h3 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

h4 {
    font-weight: bold;
}

    h4 small {
        color: #aaa;
    }

a {
    color: #eee;
    font-weight: bold;
    transition: 0.1s;
}

    a:hover,
    a:focus {
        color: #fff;
        text-decoration: none;
    }

img {
    max-width: 100%;
}

article {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-bottom: 20px;
}

.cover {
    background-size: cover;
}

.well {
    color: #000;
}

/* header */

.navbar {
    background: #900 linear-gradient(#a00, #800);
    border: none;
    border-radius: 0;
    min-height: 40px;
    margin: 0;
    padding: 0;
}

    .navbar nav {
        padding: 0;
    }

    .navbar .navbar-nav {
        padding: 0;
    }

        .navbar .navbar-nav > li a {
            color: #eee;
        }

            .navbar .navbar-nav > li a:hover,
            .navbar .navbar-nav > li a:focus {
                background: #600 linear-gradient(#700, #500);
            }

#main-menu-button {
    z-index: 1;
}

#initials img {
    height: 18px;
    margin: -2px;
}

/* index */

.hero {
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.1s;
}

img.hero:hover,
img.hero:focus {
    filter: brightness(90%) contrast(125%) saturate(150%);
    transition: 0.1s;
}

#about img.hero:hover,
#about img.hero:focus {
    filter: contrast(110%) saturate(110%);
}

/* mobile */

@media (max-width: 480px) {
    .nav-tabs li {
        padding: 0;
    }

        .nav-tabs li a {
            padding: 5px;
            font-size: 9pt;
        }
}

@media (min-width: 480px) and (max-height: 480px) {
    #title .visible-xs {
        display: none !important;
    }

    #title .hidden-xs {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav {
        margin: 0;
        background: #900 linear-gradient(#a00, #800);
    }

        .navbar .navbar-nav > li.main-menu {
            background: #333;
            clear: both;
        }

            .navbar .navbar-nav > li.main-menu:last-child {
                box-shadow: 0 24px 16px 0 #222;
            }

            .navbar .navbar-nav > li.main-menu a:hover,
            .navbar .navbar-nav > li.main-menu a:focus {
                background: #555 linear-gradient(#666, #444);
            }

    #initials {
        position: absolute;
        width: 100%;
    }

    img.hero {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-nav.col-md-offset-1 {
        margin-left: 8.333%;
    }
}

@media (min-width: 1200px) {
    .navbar .navbar-nav.col-lg-offset-2 {
        margin-left: 16.667%;
    }
}

/* photo section */

.thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #222;
    border-radius: 4px;
    box-shadow: 0 0 16px #222;
    cursor: pointer;
    display: inline-block;
    height: 120px;
    margin: 8px;
    transition: 0.1s;
    width: 120px;
}

    .thumbnail-image:hover {
        border-color: #c00;
        border-color: rgba(192, 0, 0, 0.75);
    }

#photo-filters {
    min-height: 34px;
    margin-bottom: 10px;
}

    #photo-filters > a {
        display: inline-block;
        padding: 6px;
    }

        #photo-filters > a > i {
            width: 8px;
        }

/* resume */

#resume {
    background-color: #fff;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

    #resume img {
        height: 1.5in;
        width: 1.5in;
    }

    #resume h1 {
        margin-bottom: 0.2in;
    }

    #resume h3 {
        font-size: 18px;
    }

    #resume h4 {
        font-size: 16px;
    }

    #resume i,
    #resume li {
        font-size: 12px;
    }

    #resume a,
    #resume a:hover,
    #resume a:focus {
        color: #000;
    }

        #resume a:hover,
        #resume a:focus {
            color: #333;
        }

    #resume .contact {
        clear: both;
    }

        #resume .contact .row {
            margin-bottom: 0.1in;
        }

        #resume .contact a {
            font-weight: normal;
        }

    #resume .keep-together {
        page-break-inside: avoid;
        margin-bottom: 0.25in;
        clear: both;
    }

@media (max-width: 992px) {
    #resume ul {
        padding-left: 16px;
    }

        #resume ul li.col-sm-6 {
            padding: 0 7.5px;
        }
}

@media print {
    body {
        padding-top: 0;
    }

    article {
        margin: 0;
    }

    footer {
        display: none;
    }

    a[href]:after {
        content: "";
    }
}

@media screen and (min-width: 768px) {
    #resume {
        padding: 0.25in 0.5in;
    }
}

@page {
    margin: 0.25in 0;
}
