/* general */

h1, h2, h3 {
    font-weight: bold;
    display: inline-block;
}

    h1, h1 a {
        margin: 0;
        padding: 18px;
        color: #000;
    }

        h1 a:hover,
        h1 a:focus {
            color: #333;
        }

a:hover, a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.keep-together {
    page-break-inside: avoid;
}

/* header */

.link-icons {
    padding-right: 200px;
}

.profile-photo {
    height: 150px;
    position: absolute;
    right: 2%;
    top: 0;
    width: 150px;
}

/* navbar */

.navbar-inverse {
    background: #900 linear-gradient(#a00, #800);
    border: none;
    border-radius: 0;
    font-weight: bold;
}

.navbar-nav li a {
    color: #eee !important;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
    background: #600 linear-gradient(#700, #500);
}

.navbar-nav,
.navbar-nav li {
    float: left !important;
}

/* index */

.post-summary time {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.post-summary .title {
    margin-left: 5px;
}

.post-summary .description {
    margin: 0 0 0 60px;
}

    .post-summary .description small {
        vertical-align: top;
    }

/* mobile */

@media (max-width: 480px) {
    .nav-tabs li {
        padding: 0;
    }

        .nav-tabs li a {
            padding: 5px;
            font-size: 9pt;
        }
}

@media (max-width: 767px) {
    h1, h1 a {
        font-size: 24px;
        padding: 10px;
    }

    .navbar-inverse {
        min-height: 40px;
        background: transparent;
        padding: 0;
    }

    .navbar-nav {
        margin: 0;
        width: 100%;
        background: #900 linear-gradient(#a00, #800);
    }

    #main-menu {
        width: 150px;
        background: #222 linear-gradient(#333, #111);
    }

        #main-menu li {
            float: none !important;
        }

        #main-menu a:hover,
        #main-menu a:focus {
            background: #555 linear-gradient(#666, #444);
        }

    .profile-photo {
        height: 100px;
        width: 100px;
    }
}

/* photo section */

.thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 16px #666;
    cursor: pointer;
    display: inline-block;
    height: 120px;
    margin: 8px;
    transition: 0.1s;
    width: 120px;
}

    .thumbnail-image:hover {
        border-color: #c00;
        border-color: rgba(192, 0, 0, 0.75);
    }

#photo-filters {
    min-height: 34px;
    margin-bottom: 10px;
}

    #photo-filters > a {
        display: inline-block;
        padding: 6px;
    }

        #photo-filters > a > i {
            width: 8px;
        }

/* printing */

@media print {

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    i, li {
        font-size: 12px;
    }

    .navbar {
        background: #900 linear-gradient(#a00, #800) !important;
        display: inherit;
    }

    .link-icons, a[href]:after {
        display: none;
    }
}

@page {
    margin: 0.25in 0;
}
