/* general */

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    margin: 0;
    padding: 0.5em;
}

    h1 a {
        color: #000;
        padding: 0.5em;
    }

        h1 a:hover,
        h1 a:focus {
            color: #999;
        }

    h1.title {
        display: inline-block;
    }

a {
    white-space: nowrap;
}

    a:hover, a:focus {
        text-decoration: none;
    }

img {
    max-width: 100%;
}

.keep-together {
    page-break-inside: avoid;
}

/* header */

.link-icons {
    padding-right: 200px;
}

.profile-photo {
    height: 150px;
    position: absolute;
    right: 2%;
    top: 0;
    width: 150px;
    z-index: 10000;
}

/* navbar */

.navbar-inverse {
    background: #900 linear-gradient(#a00, #800);
    border: none;
    border-radius: 0;
    font-weight: bold;
}

    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #eee;
    }

        .navbar-inverse .dropdown-menu > li > a:hover,
        .navbar-inverse .dropdown-menu > li > a:focus,
        .navbar-inverse .navbar-nav > li > a:hover,
        .navbar-inverse .navbar-nav > li > a:focus,
        .navbar-inverse .navbar-nav > .open > a,
        .navbar-inverse .navbar-nav > .open > a:focus,
        .navbar-inverse .navbar-nav > .open > a:hover,
        .navbar-inverse .navbar-toggle:focus,
        .navbar-inverse .navbar-toggle:hover {
            background-color: #600;
        }

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
}

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

.navbar-right {
    float: right !important;
}

/* photo section */

.gallery {
    text-align: center;
}

.thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #999;
    border-radius: 4px;
    box-shadow: 0 0 16px #666;
    cursor: pointer;
    display: inline-block;
    height: 120px;
    margin: 8px;
    transition: 0.1s;
    width: 120px;
}

    .thumbnail-image:hover {
        border-color: #c00;
        border-color: rgba(192, 0, 0, 0.5);
    }

@media (max-width: 767px) {
    h1, .navbar-inverse a {
        font-size: 150%;
    }

    .navbar-inverse {
        min-height: 40px;
    }

        .navbar-inverse a span {
            display: none;
        }

    .navbar-nav {
        margin-bottom: 0;
        margin-top: 0;
    }

    .profile-photo {
        height: 100px;
        width: 100px;
    }
}

#photo-filters {
    min-height: 34px;
    margin-bottom: 1em;
}

    #photo-filters > a {
        display: inline-block;
        padding: 6px;
    }

        #photo-filters > a > i {
            width: 8px;
        }

/* resume */

@media print {
    .navbar {
        background: #900 linear-gradient(#a00, #800) !important;
        display: inherit;
    }

    .link-icons, a[href]:after {
        display: none;
    }
}

#resume ~ #copyright {
    display: none;
}

/* talks */

#talks a {
    white-space: normal;
}

.slide-thumbnail {
    width: 100%;
    margin-top: 8px;
}
