body { background-color: #333; }

a {
    color: #900;
    font-weight: bold;
    margin: 0 0.5em;
}

a:hover { color: #c00; }

.navbar {
    border: 0;
    font-weight: 500;
}

.navbar-brand { font-weight: 900; }

.navbar-brand span:nth-child(1) { color: #ddd; }

.navbar-brand span:nth-child(2) { color: #eee; }

.navbar-brand span:nth-child(3) { color: #c00; }

.navbar-brand span:nth-child(4) { color: #b00; }

.gallery {
    padding-top: 100px;
    text-align: center;
}

.thumbnail-container { display: inline-block; }

.thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #222;
    border-radius: 4px;
    box-shadow: 0 0 16px #111;
    cursor: pointer;
    height: 128px;
    margin: 16px;
    transition: 0.1s;
    width: 128px;
}

.thumbnail-image:hover { border-color: #c00; }

@media screen and (min-width: 750px) {
    #subject-list {
        -moz-column-count: 3; /* Firefox */
        -webkit-column-count: 3; /* Safari and Chrome */
        column-count: 3;
        width: 640px;
    }
}

.lightbox {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.image-info {
    background-color: #101010;
    background-color: rgba(16, 16, 16, 0.75);
    bottom: 0;
    color: #999;
    padding: 0.5em 0 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.modal-backdrop.fade.in { opacity: 0.9; }

.clear-both { clear: both; }