@using System.Threading.Tasks
@using Web
@model Web.Models.Image

<a href="/photo/image/@Model.ID" class="thumbnail-image" style="background-image: url('@Startup.ImageBase/@Model.Name-0240.jpg')">&nbsp;</a>