@model IList<VTSV.Models.Page>
<h3>Hello, vNext World!</h3>
<h4><small><i>Friday, May 7, 2015 @@ 10:33pm</i></small></h4>
<p>Welcome!</p>
<p>This brand new site is running on ASP.NET 5 "vNext" (beta 4) and will become a home for my many thoughts.</p>
<p>Check back soon for those, but for now, click on that camera link in the menu up top to get to my old <a href="photo"><i class="fa fa-camera"></i> photography</a> site (also now running ASP.NET 5, with a new Angular front-end), or follow me on <a target="_blank" href="https://github.com/stevedesmond-ca"><i class="fa fa-github"></i> Github</a> and/or <a target="_blank" href="https://twitter.com/stevedesmond_ca"><i class="fa fa-twitter"></i> Twitter</a>!</p>
<p><i>-Steve</i></p>