@model web.Models.Page
<div class="post">
    <h3 class="title">
        <a href="/@Model.Category.ToLower()/@Model.URL">
            @Model.Title
        </a>
    </h3>
    <h4 class="timestamp">
        <small>
            <i>@Model.Timestamp.ToLongDateString() @@ @Model.Timestamp.ToShortTimeString().ToLower().Replace(" ", "")</i>
        </small>
    </h4>
    <div class="content">
        @Html.Raw(Model.Body)
    </div>
    <p class="signature">
        <i>-Steve</i>
    </p>
    <p class="share">
        <a href="http://twitter.com/stevedesmond_ca/status/@Model.TwitterStatus" target="_blank">
            <i class="fa fa-twitter"></i>
            Comment / Share
        </a>
    </p>
</div>