@model Web.Models.Page
<div id="resume">
    <div class="contact">
        @Html.Raw(ViewBag.ContactInfo)
    </div>
    <div class="content col-md-offset-1 col-lg-offset-2">
        @Html.Raw(Model.Body)
    </div>
</div>