@model Web.Models.Page
<article id="resume" class="row">
    <section class="contact">
        @Html.Raw(ViewBag.ContactInfo)
    </section>
    <section class="content col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        @Html.Raw(Model.Body)
    </section>
</article>