@using Web.Models
<div class="row">
    <section id="title" class="col-xs-12">
        <a href="/">
            <img src="@Settings.ImageBase/title-xs.png" class="hero visible-xs" alt="Steve Desmond Software Development" />
            <img src="@Settings.ImageBase/title-sm.png" class="hero hidden-xs" alt="Steve Desmond Software Development" />
        </a>
    </section>

    @Html.Raw(Cache.Intro)

    <section id="about" class="col-xs-12 col-sm-6">
        <a href="/about">
            <rimg base="about" class="hero" alt="About"
                  sizes="(max-width: 767px) 100vw, 50vw" />
        </a>
    </section>

    <section id="work" class="col-xs-12 col-sm-6">
        <a href="/work-with-steve">
            <rimg base="work" class="hero" alt="Work With Steve"
                  sizes="(max-width: 767px) 100vw, 50vw" />
        </a>
    </section>
    <section id="blog" class="col-xs-12 col-sm-6">
        <a href="/blog">
            <rimg base="blog" class="hero" alt="Blog"
                  sizes="(max-width: 767px) 100vw, 50vw" />
        </a>
    </section>

    <section id="talks" class="col-xs-12 col-sm-6">
        <a href="/talks">
            <rimg base="talks" class="hero" alt="Talks"
                  sizes="(max-width: 767px) 100vw, 50vw" />
        </a>
    </section>
</div>