<h2>About</h2>
<h3>Why, hello there!</h3>
<p>Perhaps you're interested in learning</p>
<a href="/about/steve">
    <h1>
        <i class="fa fa-user"></i>
        <span>About Steve</span>
    </h1>
</a>
<p>Or if you're looking for something a little more traditionally professional, how about</p>
<a href="/about/resume">
    <h1>
        <i class="fa fa-file-text-o"></i>
        <span>Steve's Resumé</span>
    </h1>
</a>
<p>For the nerds / geeks / techies in the crowd, check out</p>
<a href="/about/datacenter">
    <h1>
        <i class="fa fa-server"></i>
        <span>The Datacenter</span>
        <i class="fa fa-cloud-upload"></i>
        <i class="fa fa-desktop"></i>
        <i class="fa fa-laptop"></i>
        <i class="fa fa-mobile"></i>
        <i class="fa fa-tablet"></i>
        <i class="fa fa-bolt"></i>
    </h1>
</a>
