@if (ViewBag.ShowContact ?? false)
{
    @Html.Partial("Contact")
}

<h3>Work Experience</h3>

<h4>Ithaca College Information Technology Services (March 2013 – Present)</h4>
<h5>Enterprise Application Developer</h5>

<h4>Performance Systems Development (August 2010 – March 2013)</h4>
<h5>Software Developer, System Administrator</h5>
<ul>
    <li>Designed and developed desktop, mobile device, and web-based software for energy efficient building improvement tracking and modeling, as part of an agile (scrum/XP) development team</li>
    <li>Transformed customer requests into functional specifications (user stories) that were able to be developed by the team</li>
    <li>Created a configurable workflow engine, allowing each customer’s deployment to specify its own method for processing jobs</li>
    <li>Increased automated unit test code coverage of core assemblies to 100%</li>
    <li>Profiled application and database performance, improved the speed of the application by as much as 120x</li>
    <li>Extended the continuous integration server to automate the release and deployment of applications to QA and production, and automatically apply deployment-specific settings and customizations as part of that process</li>
    <li>Performed system administration duties on QA and production servers, managed server resources through virtualization</li>
    <li>Took on many ScrumMaster responsibilities, including facilitating iteration planning and retrospective meetings, analyzing progress and reporting release date estimates (and any changes) to management, and project management tool administration</li>
</ul>

<h4>Loews Corporation (August 2007 – August 2010)</h4>
<h5>Programmer/Analyst, Investment Support</h5>
<ul>
    <li>Designed and developed desktop and web-based applications based on written and oral specifications from users and analysts</li>
    <li>Responsible for testing and migration of all applications and system updates (both in-house and vendor supplied)</li>
    <li>Produced customized, time-sensitive reports on the company’s investments and financial transactions</li>
    <li>Created technical policy and procedure documents including setup and deployment of equipment, standard login/security practices, and step-by-step user walkthroughs</li>
    <li>Provided UNIX expertise in an otherwise Windows-only environment during accounting system migration</li>
    <li>Provided technical support (in-person and via phone/email) for more than 100 Investment department users and executives</li>
</ul>

<h4>Ithaca College Information Technology Services (August 2004 – May 2007)</h4>
<h5>Student Manager, Field Service</h5>
<ul>
    <li>Supervised Field Service team and attended weekly manager meetings</li>
    <li>Interviewed, hired, and trained new employees</li>
    <li>Organized employee events and taught technical workshops</li>
    <li>Provided technical support for faculty and staff</li>
    <li>Maintained school-owned computers and provided hardware and software troubleshooting when necessary</li>
    <li>Performed upgrades, installed new hardware and software in field service labs and on-site</li>
</ul>

<h3>Education</h3>

<h4>Ithaca College, May 2007 (graduated Cum Laude)</h4>
<h5>Bachelor of Science, Computer Science</h5>
<ul>
    <li>3.5 cumulative GPA; Dean’s List, Fall 2003 semester</li>
    <li>Freshman Computer Science and Math awards for 2003-04 academic year</li>
    <li>Inducted into Upsilon Pi Epsilon International Computer Science Honor Society, 2006</li>
    <li>Independent Senior Project: designed and created a virtual reality video game for physical therapy patients</li>
    <li>Varsity Track & Field and Cross-Country teams, 2003-2007; Isadore Yavitz Sportsmanship Award, 2007</li>
    <li>Inducted into Chi Alpha Sigma National College Athlete Honor Society, 2007</li>
</ul>

<h3>Technical Skills</h3>

<ul>
    <li>Strong programming ability in .NET (C#/VB, ASP.NET MVC), Java, C/C++, PHP, HTML5, JavaScript, AJAX, jQuery</li>
    <li>Thorough understanding of database design and administration; experience with MySQL, MS SQL Server, MS Access</li>
    <li>Extensive experience with PC construction, hardware installation, hardware and software troubleshooting</li>
    <li>In-depth knowledge of all major operating systems (Windows, UNIX, Linux, OS X) and web servers (Apache, IIS)</li>
    <li>Professional photography tools, digital photo editing and RAW image workflow (Photoshop, Lightroom)</li>
    <li>Digital audio production (Pro Tools), acoustic analysis and data visualization</li>
</ul>