@using Web.Models
<nav class="navbar navbar-inverse container-fluid">
    <ul class="nav navbar-nav">
        @Html.Raw(Cache.Navbar)
        <li class="visible-xs hidden-print">
            <a target="_blank" href="https://github.com/stevedesmond-ca">
                <i class="fa fa-github"></i>
                <span>Github</span>
            </a>
        </li>
        <li class="visible-xs hidden-print">
            <a target="_blank" href="https://twitter.com/stevedesmond_ca">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </a>
        </li>
    </ul>
</nav>