<nav class="navbar navbar-inverse container-fluid">
    <script type="text/javascript">
        function toggleMenu() {
            var mainMenu = document.getElementById('main-menu');
            if (mainMenu.className.indexOf('hidden-xs') > 0) {
                mainMenu.className = 'nav navbar-nav hidden-print';
            } else {
                mainMenu.className = 'nav navbar-nav hidden-xs hidden-print';
            }
        }
    </script>
    <ul class="nav navbar-nav visible-xs hidden-print">
        <li>
            <a href="#" onclick="toggleMenu()">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
            </a>
        </li>
    </ul>
    <ul id="main-menu" class="nav navbar-nav hidden-xs hidden-print">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/about">
                <i class="fa fa-user"></i>
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="/blog">
                <i class="fa fa-file-text"></i>
                <span>Blog</span>
            </a>
        </li>
        <li>
            <a href="/talks">
                <i class="fa fa-comment"></i>
                <span>Talks</span>
            </a>
        </li>
        <li class="visible-xs hidden-print">
            <a target="_blank" href="https://github.com/stevedesmond-ca">
                <i class="fa fa-github"></i>
                <span>Github</span>
            </a>
        </li>
        <li class="visible-xs hidden-print">
            <a target="_blank" href="https://twitter.com/stevedesmond_ca">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </a>
        </li>
        <li>
            <a href="/photo">
                <i class="fa fa-camera"></i>
                <span>Photography</span>
            </a>
        </li>
    </ul>
</nav>