@using System.Collections.Generic
@using System.Threading.Tasks
@model IEnumerable<Web.Models.Page>

<div class="btn">
    @Html.ActionLink("New", "create")
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Title</th>
            <th>Aggregate</th>
            <th>Crawl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model)
        {
            <tr>
                <td>
                    @page.Timestamp.ToString("g")
                </td>
                <td>
                    @page.Category
                </td>
                <td>
                    @Html.ActionLink(page.Title, "Edit", new { id = page.ID })
                </td>
                <td>
                    @if (page.Aggregate)
                    {
                        <i class="fa fa-check"></i>
                    }
                </td>
                <td>
                    @if (page.Crawl)
                    {
                        <i class="fa fa-check"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>