<div class="row">
    <a href="/talks/hewny15" style="white-space: normal;">
        <div class="col-xs-12 col-sm-3">
            <img src="/talks/hewny15.png" style="margin-top: 8px; width: 100%;" />
        </div>
        <div class="col-xs-12 col-sm-9 text-center">
            <h2>There's An App For That</h2>
            <h3>Creating Cross-Platform Native Experiences Using Open Web Standards</h3>
            <h4>
                <small>
                    <i>HighEdWeb New York 2015 &mdash; Ithaca, NY</i>
                </small>
            </h4>
        </div>
    </a>
</div>