@import "node_modules/bootstrap/scss/bootstrap";

/* general */

body {
    background: #222 linear-gradient(#111, #222) fixed;
    color: #ddd;
}

/*main {
    padding-top: 72px;
}*/

/*h1, h2, h3 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}*/

/*h4 {
    font-weight: bold;
}*/

    /*h4 small {
        color: #aaa;
    }*/

/*a {
    color: #eee;
    font-weight: bold;
    transition: 0.1s;
}*/

    /*a:hover,
    a:focus {
        color: #fff;
        text-decoration: none;
    }*/

/*img {
    max-width: 100%;
}*/

/*article {
    margin-top: 20px;
    margin-bottom: 20px;
}*/

/*footer {
    margin-bottom: 20px;
}*/

/*.cover {
    background-size: cover;
}*/

/*.well {
    color: #000;
}*/

/* header */

.navbar {
    background: #900 linear-gradient(#a00, #800);
    border: none;
    box-shadow: 0 16px 16px 0 #111;
    min-height: 40px;
}

    /*.navbar nav {
        padding: 0;
    }*/

    .navbar .navbar-nav > li a {
        color: #eee;
        font-weight: normal;
        min-width: 48px;
    }

        /*.navbar .navbar-nav > li a:hover,
        .navbar .navbar-nav > li a:focus {
            background: #600 linear-gradient(#700, #500);
        }*/

/*#main-menu-button {
    z-index: 1;
}*/

/*#initials img {
    height: 18px;
    margin: -2px;
}*/

/* index */

/*.hero {
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.1s;
}*/

/*img.hero:hover,
img.hero:focus {
    filter: brightness(90%) contrast(125%) saturate(150%);
    transition: 0.1s;
}*/

/*#services img.hero:hover,
#services img.hero:focus {
    filter: contrast(110%) saturate(110%);
}*/

/* mobile */

/*@media (max-width: 480px) {
    .nav-tabs li {
        padding: 0;
    }

        .nav-tabs li a {
            padding: 5px;
            font-size: 9pt;
        }
}*/

/*@media (min-width: 480px) and (max-height: 480px) {
    #title .visible-xs {
        display: none !important;
    }

    #title .hidden-xs {
        display: block !important;
    }
}*/

/*@media (max-width: 767px) {
    .navbar .navbar-nav {
        margin: 0;
        background: #900 linear-gradient(#a00, #800);
    }

        .navbar .navbar-nav > li.main-menu {
            background: #333;
            clear: both;
        }

            .navbar .navbar-nav > li.main-menu a:hover,
            .navbar .navbar-nav > li.main-menu a:focus {
                background: #555 linear-gradient(#666, #444);
            }

    #initials {
        position: absolute;
        width: 100%;
    }

    img.hero {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}*/

/*@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        margin: 0 -8px;
    }

    .icon-only-sm a {
        text-align: center;
    }

    .icon-only-sm i {
        font-size: 125%;
        vertical-align: middle;
    }

    .icon-only-sm span {
        display: none;
    }
}*/

/*@media (min-width: 992px) {
    .navbar-nav {
        margin: 0 60px;
    }
}*/

/*@media (min-width: 1200px) {
    .navbar-nav {
        margin: 0 160px;
    }
}*/

/* resume */

/*.page {
    background-color: #f9f9f8;
    color: #222;
    padding-top: 10px;
    padding-bottom: 10px;
}*/

    /*.page img {
        height: 1.5in;
        width: 1.5in;
    }*/

    /*.page h3 {
        font-size: 18px;
    }*/

    /*.page h4 {
        font-size: 16px;
    }*/

    /*.page i,
    .page li {
        font-size: 12px;
    }*/

    /*.page a,
    .page a:hover,
    .page a:focus {
        color: #000;
    }*/

        /*.page a:hover,
        .page a:focus {
            color: #333;
        }*/

    /*.page .contact {
        clear: both;
    }*/

        /*.page .contact h1 {
            margin-bottom: 0.1in;
        }*/

        /*.page .contact a {
            font-weight: normal;
        }*/

    /*.page .keep-together {
        page-break-inside: avoid;
        margin-bottom: 0.25in;
        clear: both;
    }*/

/*@media (max-width: 992px) {
    .page ul {
        padding-left: 16px;
    }

        .page ul li.col-sm-6 {
            padding: 0 7.5px;
        }
}*/

/*@media print {
    body {
        padding-top: 0;
    }

    article {
        margin: 0;
    }

    footer {
        display: none;
    }

    a[href]:after {
        content: "";
    }
}*/

/*@media screen and (min-width: 768px) {
    .page {
        padding: 0.25in 0.5in;
    }
}*/

/*@page {
    margin: 0.25in 0;
}*/